*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: none !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow-x: hidden !important;

}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.space-mono-bold {
font-family: "Space Mono", monospace;
font-weight: 700;
font-style: normal;
}
.space-mono-regular-italic {
font-family: "Space Mono", monospace;
font-weight: 400;
font-style: italic;
}
.space-mono-bold-italic {
font-family: "Space Mono", monospace;
font-weight: 700;
font-style: italic;
}
  
@import url('https://fonts.googleapis.com/css2?family=Sedan&display=swap');
.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

@keyframes girar {
    0% { transform: rotate(0deg); } /* Início: sem rotação */
    100% { transform: rotate(185deg); } /* Fim: rotação completa */
}

@keyframes pulse {
0% {
    transform: scale(0.7); /* Estado inicial */
    duration: 2s; /* Duração da animação */
    animation-timing-function: ease-in-out; /* Suaviza a animação */
    animation-iteration-count: inherit; /* Repete a animação indefinidamente */
}
100% {
    transform: scale(1.1); /* Estado final (ligeiramente maior) */
}
}

p{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none !important;
    list-style: none;
    color: #f1e472 !important;

}
nav{
    z-index: 10;
    width: 20%;
    min-width: 150px !important;
    max-width: 150px !important;
    position: fixed;
    height: 100%;
    background-image: linear-gradient(to top, rgb(123, 130, 122), rgb(236, 223, 153));
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0px 10px 10px 0px ;
}
nav .logo-top{
    background-image: url('../imagens/logo/logo-canva-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
}
nav .logo-bottom img{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 0;
    animation: girar 3s infinite alternate-reverse; /* Aplica a animação */
}

.nav-link{

    font-weight: 700 !important;
    color: #ffffff !important;
    font-weight: bold;
    margin-top: 20px;
}
.nav-link:hover{
    color: rgb(253, 241, 192) !important;
    box-shadow: inset 0 -2px 0 0 rgb(212, 212, 212);
}
body{
    width: 100vw !important;
    background-color: rgb(215, 215, 215);
}
#main{
    width: calc(100% - 150px) !important;
    margin-left: 150px !important;
    background-position: relative;
}
#main .texts-principal{
    padding: 20px;
    color: #e6e6e6;
}
.profile{
    background-attachment: fixed;
    margin: 0 ;
    padding: 0 !important;
    position: relative;
    border: none !important;
}
.fundo-girassol{
    background-image: url(../imagens/girassois/Gemini_Generated_Image_9due9m9due9m9due.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -2;
    animation: pulse 2s infinite alternate; /* Aplica a animação */
    animation: girar 20s infinite linear; /* Aplica a animação */
}
.marcadagua-1{
    background-image: linear-gradient(to top, rgba(12, 16, 24, 0.54), rgba(255, 251, 203, 0.502));
    height: 750px;
    width: 100%;
    position: absolute; 
    z-index:-1;
}
.img-perfil{
    background-image: url(../imagens/perfil/foto-perfil.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0 auto !important;
    top: 100%;
    bottom: -100 !important;
    height: 750px;
    width: 100%;
    border-radius: 10% !important;
}
.sobre-mim{
    height: 750px;
}